#template_header
    #template_main_nav 
        .template_nav_sortiment_button 
            ul 
                // display: flex
                // flex-wrap: wrap 
                width: 77% !important
                position: absolute
                left: 23%
                top: 0 !important
                padding-left: 0 !important
                overflow: auto
                max-height: 100% !important

        .popup_div 
            .template_nav_span 
                .template_wgprev_heading~ul 
                    li
                        float: left
                        width: 50%

.popup_content_account, .popup_content_cart
    z-index: 9999

    .submit
        width: 94% !important
    
    .small-padding
        padding: 0
        background: none
        border: 0
        float: left !important
        margin-top: 10px

        &:hover
            background: none
            text-decoration: underline
    
@media only screen and (max-width: 30em)
    .popup_content_menu
        transform: translateX(-50%)

    .popup_content_search
        position: absolute
        transform: translateX(-50%)
        left: 0


#template_header 
    #template_main_nav 
        .popup_div 
            top: 45px

#template_header 
    #template_main_nav 
        span.template_nav_span
            width: 23% !important

@media only screen and (max-width: 80em)
    #template_header 
        #template_main_nav 
            span.template_nav_span
                width: 32% !important

@media only screen and (max-width: 60em)
    #template_header 
        #template_main_nav 
            span.template_nav_span
                width: 49% !important

@media only screen and (max-width: 30em)
    #template_header 
        #template_main_nav 
            span.template_nav_span
                width: 100% !important