.template_wrapper#top_wrapper .template_header_item.template_account>a>i:before 
    background-image: url(https://shop.maschinen-stockert.de/benutzerdaten/400032/shop/layout/images/icons/anmelden.png)
    content: ""

.template_wrapper#top_wrapper .template_header_item.template_cart>a>i:before 
    background-image: url(https://shop.maschinen-stockert.de/benutzerdaten/400032/shop/layout/images/icons/warenkorb.png)
    content: ""

.template_wrapper#top_wrapper .template_header_item.template_fav>a>i:before 
    background-image: url(https://shop.maschinen-stockert.de/benutzerdaten/400032/shop/layout/images/icons/merkzettel.png)
    content: ""

.template_account, .template_cart, .template_message, .template_fav
    margin-top: 30px
    margin: 20px
    float: right

.template_wrapper#top_wrapper .template_header_item a>i
    width: 60px
    height: 60px
    padding: 0

.template_wrapper#top_wrapper .template_header_item a>i:before
    background-repeat: no-repeat
    background-size: contain
    display: blockl
    height: 100%
    width: 100%

.template_wrapper#top_wrapper .template_header_item>a
    align-items: center
    background: transparent
    border: 0
    display: flex
    flex-direction: column
    height: auto

.template_cart_desc, .template_account_desc, .template_message_desc, .template_fav_desc
    font-size: 18px
    margin-top: 10px
    margin-right: 0
    color: #fff