@import './fonts'
@import './usp'
@import './search'



#template_header 
    .contentholder
        max-width: 100%
        background: $primary

#template_header 
    #template_main_nav
        background: $darkGrey
        padding: 5px 40px

.template_wrapper#top_wrapper
     #template_header 
        .contentholder
            padding-top: 30px

#template_header_list
    padding: 20px