#template_search_text_top
    border-radius: 2px

.template_search_form
    position: relative
    border-radius: 3px

.accent_button, button.accent_button, input.accent_button
    background: $secondary
    border-bottom: none
    border-radius: 0 2px 2px 0

.template_header_item 
    .template_search_submit
        position: absolute
        top: 0px
        right: 0px
        height: 42px
        width: 42px
        text-align: center

    .template_search_text
        height: 42px
        padding: 10px
        font-size: 14px

    .mdi-magnify
        &::before
            margin-top: 0 !important
            font-size: 16px !important

    
.osearchtext div
    height: auto!important

.oversearch-wrapper
    margin-bottom: 0.8em
    text-align: left

.oversearch-wrapper .phone-wrap
    align-items: center
    display: flex
    margin-left: 0
    margin-right: auto

.oversearch-wrapper .phone-wrap img
    transition: all .4s ease

.oversearch-wrapper 
    .phone-wrap a
        font-family: $regular
        font-size: 1.6em
        font-weight: 700
        letter-spacing: .3px
        padding-left: 10px

.oversearch-wrapper *
    color: #fff

.oversearch-wrapper p
    margin: 0.25em 0 0


@media (max-width: 980px)
    .oversearch-wrapper
        display: none

    .template_header_item.template_search
        width: 100%